# This will automatically include our bootstrap on top of every .php file from this directory on
# Make sure AllowOverride All is set in Apache config!!
php_value   auto_prepend_file   "/var/www/src/bootstrap.php"

RewriteEngine on
RewriteRule   ^c/([a-zA-Z0-9]+)/([a-zA-Z0-9]+) certificado.php?evt=$1&cpf=$2